# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore precompiled assets.
/public/assets

# Ignore Mac OS X Finder files.
.DS_Store

# Ignore image uploads.
/public/uploads/*

# Favicon.
/public/favicon*
